div{background-color: rgb(76, 75, 75);color: white;font-size: 25px;}
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: auto repeat(2,1fr) auto;
    grid-template-rows: 1fr auto;
    gap: 15px;
    text-align: center;
    margin: auto;
}
.r1{padding-top: 160px;}