body{background-color: rgb(98, 160, 160);}
main {width: 800px; text-align: center;}
div {
    margin: 15px;
    background-color: rgb(212, 212, 212);
    float: left;

}
.full {width: 96.2%;}
    
.d1 {width: 29.582%;}
.d2 {width: 46.25%;}
.d3 { width: 21.25%;}
