/* :root {
--mainColor: #009688;
--mainPadding: 10px;
} */

div {
    border-style:solid;
    border-color: var(--mainColor,black);
    padding: var(--mainPadding,10px);
    margin:var(--mainPadding,10px) ;
    
    color: var(--mainColor,red );
}