.one{display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color:rgb(221, 72, 72); 
    width: 200px;
    height: 200px;
    background-color: rgb(209, 211, 209);
    position: relative;
    margin: 20px auto;
    border-radius: 50%;
}
.one::before{position:absolute ;
    content: "";
    width: 200px;
    height: 200px;
    border:solid 10px ;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(-5deg);
    border-left-color: white;
}
.one::after{position: absolute;
    content: "";
    width: 220px;
    height: 220px;
    border: solid 10px rgb(0, 160, 239);;
    border-right-color:white ;
    border-radius: 50%;
    z-index: -2;
    transform: rotate(5deg);
}