main{
    width: 550px;height: 250px;
    text-align: center;}
.main{
    background-color: rgb(211, 215, 216);
    width: 250px;
    height: 250px; 
    display: inline-block;margin-left: 14px;margin-right: 8px;}
.circle{
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    padding-top: 65px ; 
    width: 150px;
    height: 150px;
    background-color: rgb(172, 175, 179);
    border-radius: 50%;}
span{
    box-sizing: border-box;
    padding-top: 3px; 
    width: 200px;
    height: 25px; 
    background-color: rgb(0, 115, 255);
    display: block;
    margin:10px auto;
    border-radius: 5px;}
.cen{background-color: rgb(0, 115, 255);position: absolute;
    display: inline-block;
    height: 250px; 
    width: 2px;}
.circle-cen{
    position: absolute; 
    background-color: rgb(0, 115, 238);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    left: -9px;top: 110px;}