.parent{height: 300px;width: 600px;
    background-color: rgb(206, 209, 211);
    margin: auto;
}
div{
    display: flex;
    flex-wrap: wrap;
    height: 50%;width: calc(80%/4);
    justify-content: space-around;
    margin-top: 10px;margin-bottom: 10px;
    align-items: center;
    color: rgb(255, 255, 255);
}
.one{background-color:orange ;order: 2;align-self: flex-start;}
.two{background-color:rgb(106, 255, 47) ;order: 3;align-self: flex-end;}
.three{background-color:rgb(101, 60, 60) ;order: 4;align-self: flex-start;}
.four{background-color:rgb(91, 15, 153) ;order: 1;align-self: flex-end;}