div
    {
        width: 400px; background-color: rgb(207, 207, 197);margin: 2px;padding: 2px;
    }
.div1
    {
        border-left: solid brown 3px; width:auto ;
    }
.div2
    {
        visibility: hidden; 
    }
.div3
    {
        border-left: solid rgb(4, 129, 15) 3px; width:auto ;
    }