/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
  /* End Variables */

  /* Start Components */
.special-heading {
    font-size: 80px;
    font-weight: 800;
    color: #e4e4e4;
    letter-spacing: -3px;
    text-align: center;
    margin: 0px;
}
.special-heading + p {
    margin-top: -30px;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px ) {

.special-heading{
    font-size: 60px;
    }
.special-heading + p{
    margin-top: -20px;
    font-size: 15px;
    }
}
/* End Components */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px ) {
    .container {
    width: 750px;
    }
    
}
/* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* Start Header */
.header{padding: 20px;}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.header .links .icon span {
    background-color: rgb(27, 27, 27);
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 70%;
    transition: 0.5s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(238, 238, 238);
    width: 150px;
    right: 0px;
    top: calc(100% + 10px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color:transparent transparent rgb(238, 238, 238) transparent;
    top: -20px;right: 5px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition: 0.5s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) {
    border-bottom: 1px solid rgba(88, 88, 88, 0.281);
}
.header .links:hover ul{
    display: block;
}
/* end Header */

/* Start Landing Section */
.landing{
    background-image: url(images/moun.jpg);
    background-size: cover;
    height: calc(100vh - 64px );
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 310px;
    max-width: 100%;
}
.landing .intro-text h1{
    color: var(--main-color);
    font-size: 50px;
}
.landing .intro-text p{
    font-weight: 500;
    font-size: 18px;
    line-height: 2.5ch;
}
/* End Features Section */

/* Start Features  */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(235, 235, 235);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-content: space-between;
    grid-gap: 60px;
}
.features .feat {
    padding: 20px;
    text-align: center;
    
}
.features .feat i{
    color: var(--main-color);

}
.features .feat h3{
    font-weight: 800px;
}
.features .feat p{
    line-height:1.8;
    color: #2c4755;
}
/* End Features  */

/* Start Services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    font-weight: 800px;margin: 0px;
}
.services .services-content .srv .text p{
    line-height:1.8;
    color: #2c4755;
}
.services .services-content img {
    width: 300px;
    height: 360px;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
@media (max-width: 1199px) {
    .services .services-content .image{
        display: none;
    }
}
/* end Services  */

/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
/* End Portfolio */

