body{background-color: rgb(189, 188, 188);}
.out{
    background-color: rgb(189, 188, 188);
    margin: auto;
    border: none;
    display: grid;
    grid-template-columns: repeat(4 ,250px);
    grid-template-rows: repeat(4 ,auto);
    gap: 15px;

}
span{opacity: .6;}
div{ background-color: white;padding: 10px;border-bottom: solid red 2px;}
#one{grid-column: span 2;}
#three{grid-row: span 3;color: white;background-color: black;}
#four{grid-row: span 2;}
#five{grid-column: span 2;color: white;background-color: black;}
#six{grid-column: span 2;}