div
{
    width: 400px;height: 400px; background-image: url(photos/1.png); margin-bottom: 50px; background-color: rgb(196, 196, 192);
}
.ssign-1-shape-1
{
    background-size: 80%; background-repeat: no-repeat;
}
.ssign-1-shape-2
{
    background-repeat: repeat-y;background-position: right bottom; background-size: 80%;
}
.ssign-1-shape-3
{
    background-repeat: repeat-x;background-position: bottom; background-size: 80%;

}
.ssign-1-shape-4
{
    background-repeat: no-repeat; background-position: right bottom; background-size: 50%;
}