div
    {
        display: inline; margin-left: 10px;
    }
.div1,.div2,.div3
    {
        outline: black solid ;outline-width: 5px; border-width: 5px;
    }
.div1
    {
        border-style: solid; border-color: rgb(255, 0, 0); 
    }
.div2
    {
        border-style: solid; border-color: blue green;
    }
.div3
    {
        border-style: dashed; border-color: red green blue yellow;
    }
